{% extends 'moodleapp/base.html' %}
{% block body %}

{% if course %}

<div class="jumbotron">
   <h1 align='center'>Edit Course!</h1>
</div>

<div class='col-md-12'>
   <form action="" method="post">{% csrf_token %}
   {{form.as_p}}
   <input type='submit' value='Save Changes!' class='btn btn-primary btn-lg btn-block' />
   </form>
</div>
<div class="col-md-12" style="padding-top:15px">
    <form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="control" value="delete" />
    <input type="submit" value="Delete" class="btn btn-lg btn-block btn-danger" />
    </form>
</div>

{% else %}

<div class="jumbotron">
   <h1 align='center'>Create a Course!</h1>
</div>

<div class='col-md-12'>
   <form action="" method="post">{% csrf_token %}
   {{form.as_p}}
   <input type='submit' value='Create a Course!' class='btn btn-primary btn-lg btn-block' />
   </form>
</div>

{% endif %}

<script type='text/javascript'>
$('input[type="text"]').addClass('form-control');
$('textarea').addClass('form-control');
</script>

{% endblock body %}
