{% extends 'moodleapp/base.html' %}

{% block navigation %}
  {% if user.is_authenticated %}
    <li>
        <a href="{% url 'moodleapp:teacher_index' %}">Back</a>
    </li>
    <li>
        <a href="{% url 'moodleapp:add_message' course.id %}">Add Message</a>
    </li>
    <li>
      <a href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
      <li>
        <a href="{% url 'signup' %}">Sign Up</a>
      </li>
  {% endif %}
{% endblock navigation %}

{% block body %}

<div class="jumbotron">
	<h1 align="center">Messages of {{course.title}}</h1>
</div>

<div class='col-md-12'>
{% if messages %}
	{% for message in messages %}
	<h3 class='page-header'>
        <a>{{message.label}}</a>
    </h3>
	{{message.body|linebreaks}}
	{% endfor %}
{% else %}
	<div class='alert alert-warning' align='center'>
		<h3>No Messages Yet!</h3>
	</div>
{% endif %}
</div>
{% endblock body %}
{% block footer %}
{% if messages %}
    <div class="container marketing">
    <footer>
        <p class="pull-right"><a href="#">Back to Top</a></p>
    </footer>
    </div>
{% endif %}
{% endblock footer %}
