{% extends 'moodleapp/base.html' %}

{% block navigation %}
  {% if user.is_authenticated %}
    <li>
        <a href="{% url 'moodleapp:viewcourse' %}">Available Courses</a>
    </li>
    <li>
      <a href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
      <li>
        <a href="{% url 'signup' %}">Sign Up</a>
      </li>
  {% endif %}
{% endblock navigation %}

{% block body %}

<div class="jumbotron">
	<h1 align="center">Enrolled Courses!</h1>
</div>

<div class='col-md-12'>
{% if courses %}
	{% for course in courses %}
	<h3 class='page-header'>
        <a>{{course.title}}</a>
        <a href="{% url 'moodleapp:deletecourse' course.id %}" style="float: right; font-size: 15px">Drop the course</a>
    </h3>
	{{course.description|linebreaks}}
    <strong>Instructor: {{ course.prof }}</strong>
    <a href="{% url 'moodleapp:messageindex' course.id %}" style="float: right">View Messages</a>
	{% endfor %}
{% else %}
	<div class='alert alert-warning' align='center'>
		<h3>No Courses Yet!</h3>
	</div>
{% endif %}
</div>
{% endblock body %}
{% block footer %}
{% if courses %}
    <div class="container marketing">
    <footer>
        <p class="pull-right"><a href="#">Back to Top</a></p>
    </footer>
    </div>
{% endif %}
{% endblock footer %}
