{% extends 'moodleapp/base.html' %}

{% block navigation %}
  {% if user.is_authenticated %}
	<li>
		<a href="{% url 'moodleapp:teacher_index' %}">Back</a>
	</li>
    <li>
      <a href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
      <li>
        <a href="{% url 'signup' %}">Sign Up</a>
      </li>
  {% endif %}
{% endblock navigation %}

{% block body %}

<div class="jumbotron">
	<h1 align="center">Students!</h1>
</div>

<div class='col-md-12'>
{% if students %}
	{% for student in students %}
	{{student.user|linebreaks}}
	{% endfor %}
{% else %}
	<div class='alert alert-warning' align='center'>
		<h3>No Students Yet!</h3>
	</div>
{% endif %}
</div>
{% endblock body %}
{% block footer %}
{% if students %}
    <div class="container marketing">
    <footer>
        <p class="pull-right"><a href="#">Back to Top</a></p>
    </footer>
    </div>
{% endif %}
{% endblock footer %}
